In [1]:
import pandas as pd
pd.read_parquet("data/driver_stats.parquet")

,event_timestamp,driver_id,conv_rate,acc_rate,avg_daily_trips,created
0,2026-01-11 14:00:00+00:00,1005,0.343090,0.116221,62,2026-01-26 14:06:49.663
1,2026-01-11 15:00:00+00:00,1005,0.648436,0.116775,359,2026-01-26 14:06:49.663
2,2026-01-11 16:00:00+00:00,1005,0.162765,0.937589,310,2026-01-26 14:06:49.663
3,2026-01-11 17:00:00+00:00,1005,0.323697,0.851193,981,2026-01-26 14:06:49.663
4,2026-01-11 18:00:00+00:00,1005,0.963442,0.150013,668,2026-01-26 14:06:49.663
...,...,...,...,...,...,...
1802,2026-01-26 12:00:00+00:00,1001,0.681794,0.875206,170,2026-01-26 14:06:49.663
1803,2026-01-26 13:00:00+00:00,1001,0.222739,0.594372,911,2026-01-26 14:06:49.663
1804,2021-04-12 07:00:00+00:00,1001,0.019865,0.398840,419,2026-01-26 14:06:49.663
1805,2026-01-19 02:00:00+00:00,1003,0.309109,0.511462,535,2026-01-26 14:06:49.663
1806,2026-01-19 02:00:00+00:00,1003,0.309109,0.511462,535,2026-01-26 14:06:49.663